
<div class="row">
  <div class="col-md-6">
  <div class="landing-box  hidden-xs hidden-sm {{cssBackground}}">
    <h3 class="card-h">Con tu ayuda, venceremos el COVID.<br/> Registra tu grupo familiar.</h3>
    <p class="card-text">Todos somos responsables, juntos somos invencibles. Crea tu cuenta, agrega a tus miembros familiares, solicita retiren el fallecido de tu domicilio.</p>

    <span class="fade-link">
      
      <LinkTo @route="register" class="card-link">
      Registrate ahora
      </LinkTo>
      
    </span>
  </div>
  </div>
  <div class="col-md-6">
    {{yield}}
  </div>
  
</div>

  
  

