
<div class="main-containfer text-center">
  <div class="top-contaifner">
    <i class="fa fa-check-circle-o bigger-size" aria-hidden="true"></i>
  </div>

  <div class="bottom-container">
    <h1>¡Has ingresado tu familiar con éxito!</h1>


    <LinkTo @route="members.index" @class="btn btn-default">Volver a Lista</LinkTo>    
  </div>
</div>

