    <div class="form-group">
      <label>¿Este familiar está vivo?</label>

        <label class="radio-container">  {{radio-button value=true name="alive" checked=this.model.alive}}<span class="checkmark"></span>SI</label>
        <label class="radio-container">  {{radio-button value=false name="alive" checked=this.model.alive}}<span class="checkmark"></span>NO</label>

    </div>
    <div class="container">

      <div class="form-group ">
        <div class="offset-sm-2 col-sm-3 pull-left">
          <LinkTo @route="members.new.demographics" @class="btn btn-default">Anterior</LinkTo>
        </div>
        <div class="offset-sm-2 col-sm-2 pull-right">
          <LinkTo @route="members.new.wasPicked" @class="btn btn-primary">Siguiente</LinkTo>
        </div>
      </div>
    </div>
    
