<div class="loading-frame dark">
  <div class="center-hz center-vt">
    <div><h2>Cargando miembros de familia...</h2></div>
    <div class="lds-ripple center-hz"><div></div><div></div></div>
  </div>
  
</div>