<div class="container">
  <div class="">
    <a {{action 'closeForm' this.model}}><i class="fas fa-times fa-3x pull-right" style="color:'#ccc'"></i></a>
  </div>
  <h2 class="text-center">Añadiendo A:</h2>

  <div class="form-block">
    {{outlet}}    
  </div>
  
</div>