<Navbar/>

<div class="fluid-container">
  {{outlet}}
</div>



  <!--Footer-->
  <footer class="page-footer text-center text-md-left pt-4">

    <!--Footer Links-->
    <div class="container-fluid">
      <div class="row">


        <hr class="w-100 clearfix d-md-none">

        <!--Fourth column-->
        <div class="col-md-12 mx-auto">
          <h5 class="text-uppercase font-weight-bold mb-4">Conoce sobre #COVID19</h5>
          <ul class="list-unstyled">
            <li><a href="https://www.youtube.com/results?search_query=%23covid19">Youtube</a></li>
            <li><a href="https://twitter.com/search?q=%23COVID19">Twitter</a></li>
            
            <li><a href="http://www.35inputs.com/usecase">Nuestra compañia</a></li>
          </ul>
        </div>
        <!--/.Fourth column-->

      </div>
    </div>
    <!--/.Footer Links-->





    <hr>



    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
      <div class="container-fluid">
        © 2020 Copyright: <a href="http://www.35inputs.com"> 35inputs </a>

      </div>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->


