<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
      <h2>Miembros</h2>
    </div>
    <div class="col-sm-6 col-xs-6 col-lg-12 col-md-12">
      <div class="btn-group pull-left hidden-sm hidden-xs">
        <LinkTo @route="members.new.general" @class="btn btn-success">Añadir</LinkTo>
      </div>
  

      <div class="btn-group hidden-md hidden-lg pull-right">
        <LinkTo @route="members.new.general" @class="btn btn-success btn-xl btn-circle"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </LinkTo>
      </div>      
    </div>
  </div>
  

  
</div>

<div class="instructions">
  
</div>

<br>
<div class="row">
  <div class="col-xs-12 col-lg-12">
    <div class="list-group" role="tablist">
      {{#each model as |member|}}
        <MemberRow @member={{member}} />
      {{else}}
        <div class="not-found-panel text-center">
          <p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></p><p></p><br>
          <h3>No tiene miembros registrados</h3>
        </div>
        
      {{/each}}      
    </div>    
  </div>
</div>
